@mixin bp($min, $max) {

  $MediaQueriesEnabled: true !default;

  @if $MediaQueriesEnabled
  {
    $bps: xs, sm, md, lg;
    $valid-input: true;
    $mq: "";

    $maxes: (
      xs: "(max-width: #{$screen-xs-max})",
      sm: "(max-width: #{$screen-sm-max})",
      md: "(max-width: #{$screen-md-max})"
    );

    $mins: (
      sm: "(min-width: #{$screen-sm-min})",
      md: "(min-width: #{$screen-md-min})",
      lg: "(min-width: #{$screen-lg-min})"
    );

    @if($min != null and $max != null)
    {
      @if index($bps, $min) and index($bps, $max)
      {
        $mq: "#{map-get($mins, $min)} and #{map-get($maxes, $max)}"
      }
      @else
      {
        @warn "Breakpoint parameters must be either xs, sm, md, or lg.";
        $valid-input: false;
      }
    }

    @else if ($min != null and $max == null)
    {
      @if $min == xs
      {
        @warn "There is no min-width for Mobile Screens.";
        $valid-input: false;
      }
      @else
      {
        $mq: "#{map-get($mins, $min)}"
      }
    }

    @else if ($min == null and $max != null)
    {
      @if $max == lg
      {
        @warn "There is no Max Width for Large Screens.";
        $valid-input: false;
      }
      @else
      {
        $mq: "#{map-get($maxes, $max)}"
      }
    }
    @else
    {
      @warn "You must pass a parameter to the bp() mixin!";
      $valid-input: false;
    }
    @if $valid-input
    {
      @media #{$mq} { @content;}
    }
  }
}

@mixin bplte($max) {
  @include bp(null, $max) {
    @content;
  }
}

@mixin bpgte($min) {
  @include bp($min, null) {
    @content;
  }
}

@mixin container
{
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  width: 100%;

  @include bpgte(sm) {
    width: $container-sm;
  }
  @include bpgte(md) {
    width: $container-md;
  }
  @include bpgte(lg) {
    width: $container-lg;
  }
}

.container
{
  @include container;
}
