$font-main: 'Yantramanav';

$grid-gutter-width: 2rem;
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1170px;

$screen-xs-min: 480/16 * 1rem;
$screen-xs-max: 767/16 * 1rem;
$screen-sm-min: 768/16 * 1rem;
$screen-sm-max: 991/16 * 1rem;
$screen-md-min: 992/16 * 1rem;
$screen-md-max: 1199/16 * 1rem;
$screen-lg-min: 1200/16 * 1rem;
