<div class="About">
  <img class="About-photo" src="/images/eric.jpg" />
  <h1 class="About-title Heading-title">Hello,</h1>
  <p class="Text-sm-black">
    My name is Eric Xie and I am a 4th year student at the University of Virginia studying Computer Science with a minor in Applied Math. I've worked extensively as a front-end engineer, using templating engines and SASS to build modular web components, but I enjoy back-end development just as much, primarily with Node.js and Django. During the 2017-2018 school year, I will be leading a 12-week back-end web development course at HackCville, an entrepreneuership and tech accelerator at UVA. In my free time, you can catch me taking photos, playing video games, or in the gym.
  </p>
</div>
