<!DOCTYPE html>
<html>
  <head>
    <title>Eric Xie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/landing.css"
  </head>
  <body>
    <div class="LandingText">
      <h1 class="LandingText-name Heading-title">Eric Xie</h1>
      <ul class="LandingText-nav">
        <li class="LandingText-navItem"><a class="Text-md-black" href="/about">About</a></li>
        <li class="LandingText-navItem"><a class="Text-md-black" href="#">Experience</a></li>
        <li class="LandingText-navItem"><a class="Text-md-black" href="#">Photography</a></li>
        <li class="LandingText-navItem"><a class="Text-md-black" href="#">Blog</a></li>
      </ul>
    </div>

  </body>
</html>
